[defaults]

# Logging
verbosity = 0
log_path = ./ansible.log
nowcows = True
deprecation_warnings = False
stdout_callback = unixy
# stdout_callback = oneline
display_ok_hosts = no
display_skipped_hosts = no
display_args_to_stdout = False
remote_tmp = ~/.ansible/tmp

# Directories
roles_path = ./roles
inventory = ./inventory/hosts
fact_path = ~/.ansible/facts
collections_paths = ~/.ansible/collections
module_name = ansible.builtin.shell

# User
remote_user = deploy

# python
interpreter_python = /usr/bin/python3.13

# Other ssh
host_key_checking = False

# Temporary files
allow_world_readable_tmpfiles = True
